

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1543468167664-2 {top: 140px; left: 40px; height: 20px; width: 40px;
        }
        .silex-id-1543468175401-3 {top: 180px; left: 40px; height: 20px; width: 40px;
        }
        .silex-id-1543468737176-13 {top: 100px; left: 100px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1543469727443-15 {top: 160px; left: 100px; height: 22px; width: 40px;
        }
        .silex-id-1543471154868-18 {top: 120px; left: 120px; height: 0px; width: 0px; display: none;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 0px; left: 154px; width: 746px; height: 555px;
        }
        .silex-id-1543468508195-10 {top: 140px; left: 500px; height: 20px; width: 120px;
        }
        .silex-id-1543468635322-12 {top: 180px; left: 500px; height: 20px; width: 220px;
        }
        .silex-id-1543468401666-7 {top: 140px; left: 150px; height: 20px; width: 40px;
        }
        .silex-id-1543468420938-8 {top: 180px; left: 150px; height: 20px; width: 40px;
        }
        .silex-id-1543470084422-17 {top: 380px; left: 60px; height: 40px; width: 650px;
        }
        .silex-id-1543470019217-16 {top: 340px; left: 280px; height: 20px; width: 180px;
        }
        .silex-id-1543468094810-1 {top: 20px; left: 180px; height: 60px; width: 360px;
        }
        .silex-id-1543468456503-9 {top: 140px; left: 260px; height: 20px; width: 220px;
        }
        .silex-id-1543468635307-11 {top: 180px; left: 260px; height: 20px; width: 220px;
        }
    