

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1544045245693-0 {top: 60px; left: 20px; height: 80px; width: 220px;
        }
        .silex-id-1544045288899-1 {top: 380px; left: 220px; height: 140px; width: 306px;
        }
    